body, html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

#audio_card {
    color: white;
    font-weight: 300;
}
#audio_box {
    width: 25rem;
}
#links {
    text-decoration: none;
}
#banner {
    background-color: rgb(68, 67, 67);
    color: white;
    margin: 0;
    height: 10rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.about_bio{
    padding: 2rem;
    font-weight: bold;
    font-size: 25px;
}

#about_bio {
    padding: 1rem;

}

.fakeimg {
    height: 200px;
    background: #aaa;
}
#profile_image {
    width: 2rem;
    height: 2rem;
}

label {
    text-align: center;
    align-self: center;
}

#user_container {
    margin: 2rem;
    padding: 3rem;
    width: 50%;
    border-style: solid;
    border-width: thin;
    background: #F8F9FA;
    border-radius: 5%;
    position: relative;
}
nav {
    width: 100%;
}
footer {
    position: relative;
    height: 100px;
    margin-top: -200px;
    bottom: 0;
    width: 100%;
}
header {
    padding: 1rem;
    position:relative;
}
#user_container {
    width: inherit;
    height: 35rem;
}

@media (max-width:1000px) {
    #user_container {
        width: 90%;
        font-size: smaller;
    }
}