<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <%- include("partials/nav") %>
    <div class="card text-center" id="banner">
        <h2>Hello, we are chordExplorer</h2>
        <h4>Your audio translation tool</h4>
        <p>At chordExplorer, we are passionate about making music more accessible and ibteractive. Whether you are a beginner learning your first chords, or a musician looking to explore new possibilities, our app helps to identify and understand the chords in any piece of audio. Our goal is to encourage creativity and make music discovery easier for everyone.</p>
    </div>

    <div class="container text-center">
        <div class="row text-center align-items-center">
            <div class="col">
                <div class="card" id="about_card">
                    <img src="../images/audios.jpg" alt="Audio" style="width: 100%">
                    <div class=""> Every user gets a personalized profile to track their musical journey. With a secure login system, users can save audio translations, revist past sessions and manage their chord history all in one place.</div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="about_card">
                    <img src="../images/translate.avif" alt="" style="width: 100%">
                    <div class="">Our app utilizes machine learning models to analyze uploaded audio and accurately detect the chords being played. By breaking down signals, identifying patterns in audio waves.</div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="about_card">
                    <img src="../images/soundwave.avif" alt="" style="width: 100%">
                    <div class="">The system works by breaking down each audio file, in to wave patterns. by identifying unique patterns in each piece of audio, the machine learning model can identify the specific chord this sound is making.</div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>