<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>
            <div class="wrapper">
                <div class="text-center" id="banner">
                    <h1>Hello, we are chordExplorer</h1>
                    <h5>Your audio translation tool</h5>
                    <p style="font-weight: 900;">At chordExplorer, our goal is to encourage creativity and make music
                        discovery easier for everyone.</p>
                </div>
                <div class="container">

                    <div class="grid text-center">
                        <div class="g-col-6 g-col-md-4">
                            <div class="col text-start" id="about_card">
                                <img src="../images/audios.jpg" alt="Audio">
                                <div class="about_bio shadow p-3">
                                    <p> Every user gets a personalized profile to track their
                                        musical
                                        journey. With a secure login system, users can save audio translations, revist
                                        past
                                        sessions and manage their chord history all in one place.</p>
                                </div>
                            </div>
                        </div>
                        <div class="g-col-6 g-col-md-4">
                            <img src="../images/translate.avif" alt="">
                            <div class="about_bio shadow p-3">
                                <p>Our app utilizes machine learning models to analyze
                                    uploaded audio
                                    and accurately detect the chords being played. By breaking down signals, identifying
                                    patterns in audio waves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="g-col-6 g-col-md-4">
                        <div class="card-body text-start" id="about_card">
                            <img src="../images/soundwave.avif" alt="">
                            <div class="about_bio shadow p-3">
                                <p>The system works by breaking down each audio file, in to
                                    wave
                                    patterns. by identifying unique patterns in each piece of audio, the machine
                                    learning
                                    model can identify the specific chord this sound is making.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include("partials/footer") %>
            </div>
            </div>

    </body>

</html>