<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>

        <%- include("partials/nav") %>
            <div class="wrapper">

                <div class="container align-items-center text-center justify-content-center" style="width: 40%;">
                    <h1 class="display-4">ChordExplorer</h1>
                    <h4 class="text-muted">Audio translation page</h4>
                    <h2>This will be a single audio translation</h2>
                </div>

                <div>
                    <p>ID: audio.id</p>
                    <p>Chord: audio.chord</p>
                    <p>Uplaoded By: audio.uploadedBy</p>
                </div>

            </div>
            <%- include("partials/footer") %>

    </body>

</html>