<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>

        <%- include("partials/nav") %>
            <%- include("partials/header") %>

            <div class="container align-items-center text-center justify-content-center" style="width: 40%;">
                  <h1 class="display-4">ChordExplorer</h1>
                  <h4 class="text-muted">Audio translation page</h4>
                  <h2>This will be the translation page</h2>
              </div>
              <%- include("partials/footer") %>

    </body>

</html>