<footer class="bg-dark text-white py-4 mt-5">
    <div class="row">
        <h6>Chord Explorer</h6>
        <div class="col-sm-12">            
            <ul>
                <li>List</li>
                <li>List</li>
            </ul>
        </div>
    </div>
</footer>