<footer class="bg-light text-dark py-1 mt-5">
    <div class="row text-center">
            <div class="col-sm">
                <a href="/about" id="links"><p>About</p></a>
            </div>
            <div class="col-sm" id="links">
                <a href="/#" id="links"><p>Jobs</p></a>
            </div>
            <div class="col-sm">
                <a href="/contact" id="links"><p>Help</p></a>
            </div>
            <div class="col-sm">
                <a href="/#" id="links"><p>Privacy</p></a>
            </div>
            <div class="row-sm">
                <p>© 2025 ChordExplorer</p>
            </div>
    </div>
</footer>