<header class="fixed-header" role="banner">
  <div class="container-fluid">

    <!-- Site Title  -->
    <div class="site_header col-xs-3">
      <% if (user) { %>
        <h3> Welcome, <%= user.first_name %> !</h3>
        <% } else { %>
          <h1>Hello</h1>
          <% } %>
    </div>

  </div>
</header>