<header class="fixed-header" role="banner">
    <div class="container-fluid">
  
      <!-- Site Title  -->
      <div class="site_header col-xs-3">
        <h1> <%= header %> </h1>
      </div>
    
    </div>
  </header>